<div class="container">
  <h2>Register User</h2>

  {{#if error}}
  <div class="alert alert-danger" role="alert">{{error}}</div>
  {{/if}}

  <form action="{{withBasePath '/auth/register'}}" method="POST" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="userName" class="col-md-2 control-label">User Name</label>
      <div class="col-md-10">
        <input type="text" id="userName" name="userName" class="form-control" required value="{{formData.userName}}">
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="col-md-2 control-label">Email</label>
      <div class="col-md-10">
        <input type="email" id="email" name="email" class="form-control" required value="{{formData.email}}">
      </div>
    </div>

    <div class="form-group">
      <label for="otherInfo" class="col-md-2 control-label">Other Information</label>
      <div class="col-md-10">
        <textarea id="otherInfo" name="otherInfo" class="form-control">{{formData.otherInfo}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-md-2 control-label">Password</label>
      <div class="col-md-10">
        <input type="password" id="password" name="password" class="form-control" required>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword" class="col-md-2 control-label">Confirm Password</label>
      <div class="col-md-10">
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10 py-4">
        <input type="submit" class="btn btn-primary" value="Register User">
      </div>
    </div>
  </form>
</div>
