<!-- views/resetPassword.hbs -->

<!-- Title -->
<h2>Reset password.</h2>
{{#if Message}}
    {{#if (eq Message "ChangePasswordSuccess")}}
        <div class="text-success py-4">Password changed successfully. <a href="{{withBasePath '/auth/login'}}">Click here to login</a></div>
    {{/if}}
    {{#if (ne Message "ChangePasswordSuccess")}}
        <div class="text-danger py-4">{{Message}}</div>
    {{/if}}
{{/if}}
<!-- Form -->
<form action="{{withBasePath '/auth/resetpassword'}}" method="POST" class="form-horizontal" role="form">
    <input type="hidden" name="code" value="{{ code }}">

    <div class="form-group">
        <label for="email" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input type="email" id="email" name="email" class="form-control" value="{{ email }}" required>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword" class="col-md-2 control-label">Confirm Password</label>
        <div class="col-md-10">
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 py-4">
            <input type="submit" class="btn btn-primary" value="Reset">
        </div>
    </div>
</form>
