<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <!-- Categories Card -->
    <div class="col">
      <div class="card">
       <div class="card-header d-flex justify-content-between align-items-center">
            Categories
            <button type="button" class="btn btn-sm btn-primary" id="createNewCategoryBtn" data-bs-toggle="modal" data-bs-target="#editCategoryModal">Create New</button>
        </div>
        <div class="card-body">
          <table class="table small dtCategory">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Active</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {{#each categories}}
              <tr>
                <td>{{dataValues.name}}</td>
                <td>{{dataValues.description}}</td>
                <td>
                  <span class="badge {{#if (eq dataValues.active false)}}bg-danger{{else}}bg-success{{/if}}"><i class='bx bx-{{#if (eq dataValues.active false)}}x{{else}}check{{/if}}'></i></span>
                </td>
                <td><a href="#" class="edit-category" data-bs-toggle="modal" data-bs-target="#editCategoryModal" data-id="{{dataValues.categoryId}}"><i class='bx bx-edit-alt bx-sm text-muted'></i></a></td>
                {{!-- <td><a href="#" class="edit-category" data-bs-toggle="modal" data-bs-target="#editCategoryModal" data-id="{{dataValues.categoryId}}">edit</a></td> --}}
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{> dashboard/categoryModal }}

    <!-- Sales Card -->
    <div class="col">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            Sales
            <button type="button" class="btn btn-sm btn-primary">Full View</button>
        </div>
        <div class="card-body">
          <table class="table small">
            <thead>
              <tr>
                <th>Product</th>
                <th>Amount</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each sales}}
              <tr>
                <td>{{dataValues.serviceName}}</td>
                <td>{{dataValues.currency}} {{dataValues.amount}}</td>
                <td>{{formatTimeDate dataValues.paymentDate}}</td>
                <td><a href="#" class="view-sale" data-bs-toggle="modal" data-bs-target="#viewSaleModal" data-id="{{dataValues.salesId}}"><i class='bx bx-search-alt bx-sm text-muted'></i></a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Services Card -->
    <div class="col">
      <div class="card">
       <div class="card-header d-flex justify-content-between align-items-center">
            Services
            <button type="button" class="btn btn-sm btn-primary" id="createNewServiceBtn" data-bs-toggle="modal" data-bs-target="#editServiceModal">Create New</button>
        </div>
        <div class="card-body">
          <table class="table small dtService">
            <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Active</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each services}}
              <tr>
                <td>{{name}}</td>
                <td>{{Category.name}}</td>
                <td>{{currency}} {{price}}</td>
                <td>
                  <span class="badge {{#if (eq active false)}}bg-danger{{else}}bg-success{{/if}}"><i class='bx bx-{{#if (eq active false)}}x{{else}}check{{/if}}'></i></span>
                </td>
                <td><a href="#" class="edit-service" data-bs-toggle="modal" data-bs-target="#editServiceModal" data-id="{{serviceId}}"><i class='bx bx-edit-alt bx-sm text-muted'></i></a></td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{> dashboard/serviceModal }}
    
    <!-- Subscribers Card -->
    <div class="col">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            Subscribers
            <button type="button" class="btn btn-sm btn-primary">Full View</button>
        </div>
        <div class="card-body">
          <table class="table small">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Registration Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each subscribers}}
              <tr>
                <td>{{dataValues.firstName}} {{dataValues.lastName}}</td>
                <td>{{dataValues.planDesc}}</td>
                <td>{{dataValues.createdAt}}</td>
                <td><a href="#" class="view-sub" data-bs-toggle="modal" data-bs-target="#viewSubModal" data-id="{{dataValues.salesId}}"><i class='bx bx-search-alt bx-sm text-muted'></i></a></td>
              </tr>
              {{/each}}
       
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Scripts -->
<script src="/assets/js/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/b-print-2.3.6/r-2.4.1/sb-1.4.2/sp-2.1.2/datatables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.js"></script>
{{> dashboard/scripts }}
