<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <!-- Categories Card -->
    <div class="col">
      <div class="card">
       <div class="card-header d-flex justify-content-between align-items-center">
            Categories
            <button type="button" class="btn btn-sm btn-primary">Create New</button>
        </div>
        <div class="card-body">
          <table class="table small">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Active</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
        {{#each categories}}
              <tr>
                <td>{{dataValues.name}}</td>
                <td>{{dataValues.description}}</td>
                <td>{{dataValues.active}}</td>
                <td><a href="#" class="edit-category" data-bs-toggle="modal" data-bs-target="#editCategoryModal" data-id="{{dataValues.categoryId}}">edit</a></td>
              </tr>
        {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{> dashboard/categoryModal }}

    <!-- Sales Card -->
    <div class="col">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            Sales
            <button type="button" class="btn btn-sm btn-primary">Full View</button>
        </div>
        <div class="card-body">
          <table class="table small">
            <thead>
              <tr>
                <th>Product</th>
                <th>Amount</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each sales}}
              <tr>
                <td>{{dataValues.serviceName}}</td>
                <td>{{dataValues.amount}}</td>
                <td>{{dataValues.paymentDate}}</td>
                <td><a href="#">edit</a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Services Card -->
    <div class="col">
      <div class="card">
       <div class="card-header d-flex justify-content-between align-items-center">
            Services
            <button type="button" class="btn btn-sm btn-primary">Create New</button>
        </div>
        <div class="card-body">
          <table class="table small">
            <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Desc</th>
                <th>Active</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each services}}
              <tr>
                <td>{{name}}</td>
                <td>{{Category.name}}</td>
                <td><small>{{description}}</small></td>
                <td>{{active}}</td>
                <td><a href="#" class="edit-service" data-bs-toggle="modal" data-bs-target="#editServiceModal" data-id="{{serviceId}}">edit</a></td>

              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{> dashboard/serviceModal }}
    
    <!-- Subscribers Card -->
    <div class="col">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            Subscribers
            <button type="button" class="btn btn-sm btn-primary">Full View</button>
        </div>
        <div class="card-body">
          <table class="table small">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Registration Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each sales}}
              <tr>
                <td>{{dataValues.firstName}} {{dataValues.lastName}}</td>
                <td>{{dataValues.planDesc}}</td>
                <td>{{dataValues.createdAt}}</td>
                <td><a href="#">edit</a></td>
              </tr>
              {{/each}}
       
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Scripts -->
<script src="/assets/js/jquery-3.7.1.min.js"></script>
{{> dashboard/scripts }}
