<!-- Step 1: Introduction Page -->


<!-- Step 2: Checkout Page -->
<div id="step2" class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-10 col-sm-12">
      <div class="my-4">
        <p class="lead">Please enter your payment details below:</p>
      </div>
      {{#if error}}
        <ul class="text-danger">
            <li>{{error}}</li>
        </ul>
        {{/if}}
      <form id="step2Form" class="php-email-form" action="/en/auth" name="paymentForm" role="form" method="post" class="form-horizontal">
        <!-- Billing Information Fields -->
      
        <div class="container">
        <div class="row">
        
            <div class="col-md-4 order-lg-2 order-sm-1 py-4">
                <div class="card p-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your Cart</span>
                    <span class="badge rounded-pill bg-secondary">{{paymentInfo.quantity}}</span>
                    </h4>
                    
                    <li class="list-group-item d-flex justify-content-between lh-condensed pb-2">
                        <div>
                            <h6 class="my-0 text-uppercase">{{paymentInfo.categoryName}}</h6>
                            <small class="text-muted">{{paymentInfo.description}}</small>
                        </div>
                        <span class="text-muted">${{formatNumber paymentInfo.price}}</span> 
                        <input type="hidden" name="TotalAmount" value="{{ paymentInfo.price}}">
                        <input type="hidden" name="CurrencyCode" value="{{paymentInfo.currency}}">
                    </li>
                    <hr>
                    <li class="list-group-item d-flex justify-content-between lh-condensed pb-3">
                    <div>
                            <h6 class="my-0">Notes</h6>
                            <small class="text-muted">{{paymentInfo.otherInfo}}</small>
                        </div>
                    </li>
                    {{!-- <hr> --}}
                    {{!-- <li class="list-group-item d-flex justify-content-between bg-light py-3 pe-3 ps-2">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">-$500</span>
                    </li> --}}
                    
                    <div class="card-footer d-flex justify-content-between pb-2">
                    <span>Total ({{paymentInfo.currency}})</span>
                    <strong>${{formatNumber paymentInfo.price}}</strong>
                    </div>

                    
                    {{!-- <form class="card">
                        <div class="input-group py-4">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">
                                Redeem
                            </button>
                            </div>
                        </div>
                    </form> --}}
                </div>
                <div class="row justify-content-center py-5">
                <img src="/assets/img/secure-ssl-services.png" style="max-width: 250px">
              </div>
                
            </div>
            
            <div class="col-md-8 order-lg-1 order-sm-2 py-4">
                <h4 class="mb-3">Billing Address</h4>
                <div class="row">
                <div class="col mb-4">
                    <label for="First name"> First Name </label>
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="FirstName" required value="{{BillingAddress.FirstName}}">
                </div>
                <div class="col mb-4">
                    <label for="Last name"> Last Name </label>
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="LastName" required value="{{BillingAddress.LastName}}">
                </div>
                </div>
                
                <div class="mb-4">
                <label for="email">Email </label>
                <input type="text" class="form-control" placeholder="you@example.com" aria-label="email" name="EmailAddress" required value="{{BillingAddress.EmailAddress}}">
                <small class="text-muted">A copy of the payment receipt will sent to this email</small>
            </div>
                
                <div class="mb-4">
                <label for="Address">Address</label>
                <input type="text" class="form-control" placeholder="1234 Main St" aria-label="Address" name="Line1" required value="{{BillingAddress.Line1}}">
                </div>
                
                <div class="mb-4">
                <label for="Address2">Address Line 2 </label>
                <input type="text" class="form-control" placeholder="Appartment or suite" aria-label="Address2" name="Line2" value="{{BillingAddress.Line2}}">
                </div>
                
                <div class="row">
                     <div class="col-lg-4 col-sm-12">
                    <label for="StateParish">State/Parish</label>
                    <input type="text" class="form-control" aria-label="State" name="StateParish" required value="{{BillingAddress.City}}">
                </div>
                <div class="col-lg-4 col-sm-12">
                    <label for="country">Country</label>
                    <select class="form-select" name="CountryCode" required>
                        <option value="" selected="selected">Select Country</option>
                        {{#each countries}}
                        <option value="{{ this.code }}">{{ this.name }}</option>
                        {{/each}}
                    </select>
                </div>
               
                <div class="col-lg-3 col-sm-4 mb-4">
                    <label for="zip">Zip Code</label>
                    <input type="text" class="form-control" aria-label="zip">
                </div>
                
                
                <hr class="mb-4">
                
                <h4 class="mb-3">Payment Details</h4>

                
                <div class="row">
                    <div class="col mb-4">
                    <label for="Card1">
                        Name on card
                    </label>
                    <input type="text" class="form-control"aria-label="card1" name="CardholderName" required>
                    <small class="text-muted">
                        Full name, as displayed on the card
                    </small>
                    </div>
                    
                    <div class="col-lg-6 col-sm-12 mb-4">
                    <label for="Card2">
                        Card Number
                    </label>
                    <input type="text" class="form-control" placeholder="123456789012" aria-label="Card2" name="CardPan" required>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-md-4 mb-3">
                    <label for="Card3">
                        Expiration
                    </label>
                    <input type="text" class="form-control"aria-label="card3" placeholder="MMYY" name="CardExpiration" required>
                    </div>
                    
                    <div class="col-lg-2 col-sm-3 col-md-4 mb-3">
                    <label for="Card4">
                        CVV
                    </label>
                    <input type="password" class="form-control"  aria-label="Card4" name="CardCvv" autocomplete="off" maxlength="3" required>
                    </div>
                </div>
                
                </div>
            
            <hr class="mb-4">
            <!--
            <button class="g-recaptcha btn btn-danger btn-lg" 
                data-sitekey="6LduK3kkAAAAACHroigWMKD_BTHPWgI_8QD-otvj" 
                data-callback='onSubmit' 
                data-action='submit'
                type="submit">Continue to Checkout</button>
                -->
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" type="submit"> 
                Continue to Checkout
                </button>
            </div>
            
            </div>
        
        </div>
    </div>
      </form>
    </div>
  </div>
  </div>
  <script src="https://www.google.com/recaptcha/api.js"></script>
<script>
   function onSubmit(token) {
     document.getElementById("step2Form").submit();
   }
 </script>

