<div class="container about">

        <div class="row content pb-5">
          <div class="col-lg-6">
            <h2>Payment Confirmation</h2>
            {{!-- <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assum perenda sruen jonee trave</h3> --}}
            {{#if paymentResponse.Approved}}
                <h3>Transaction Approved</h3>
                <p>Authorization Code: {{paymentResponse.AuthorizationCode}}</p>
                <!-- Other payment completion data -->
                {{#if repEmail}}
                <div class="row py-3">
                    <small class="text-muted">A copy of this your payment confirmation was also sent to {{repEmail}}.</small>
                    {{!-- <form action="/en/copyrecpt" method="post" name="recptForm" id="recptForm">
                        <input type="text" name="ccEmail" id="ccEmail" placeholder="Enter sales rep email address" class="form-control">
                        <button class="btn btn-danger my-3" type="submit">Send Copy</button>
                    </form> --}}
                </div>
                {{/if}}
            {{else}}
                <h3>Transaction Declined</h3>
                <p>Error Message: {{paymentResponse.ResponseMessage}}</p>
            {{/if}}
          </div>
            
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Please see your transaction and service summary below:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>Service - {{serviceName}}</li>
              <li><i class="ri-check-double-line"></i> More details</li>
              <li><i class="ri-check-double-line"></i> Notes - {{paymentNotes}}</li>
            </ul>
            <hr>
            <p class="fst-italic">
              Transaction Details
            </p>
            <ul class="small">
              <li><i class="ri-check-double-line"></i> Card Holder: {{cardOwner}}</li>
              <li><i class="ri-check-double-line"></i> Card Info: {{cardType}} - **** **** **** {{lastFour}}</li>
              <li><i class="ri-check-double-line"></i> Total Chaged: <strong>{{currency}}${{formatNumber amount}}</strong></li>
              <li><i class="ri-check-double-line"></i> Reference: {{refNumber}}</li>


            </ul>
          </div>
          
        </div>

      </div>